body {
  background-color: #F0F5F9;
}

.navbar-colour {
  background-color: #52616B;
}

.navitem {
  color: #F0F5F9;
}

ion-icon {
  font-size: 29px;
}

.icon-spacing {
  padding-right: 10px;
}

.unity-webgl-transform-pos {
  transform: translate(13%, 0%);
}

img {
  width: 100%;
}

#portfolio {
  padding: 40px;
  margin: 0 auto;
}

.gallery-title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  padding: 40px 20px 60px;
}

.filter-button {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  background-color: white;
  outline: none;
}

.filter-button:focus {
  outline: none;
}

.btn-default:active .filter-button:active {
  color: black;
  background-color: black;
}

.gallery_product {
  margin-bottom: 30px;
}
